    <tr class="setting">
      <td>
        <p class="name"><strong>{{ item.name }}</strong></p>
        <p class="description">{{ item.note }}</p>
      </td>
      <td class="align-center">
  {% if item.options != null %}
        <p>
    {% for option in item.options %}
        <code class="option">{{ option.option }}</code>
    {% endfor %}
        </p>
  {% endif %}
  {% if site.sale_active %}
        <p>
          <code class="on_sale">${{ item.price_list }}</code>
          <code class="sale_price">${{ item.price_sale }}</code>
        </p>
  {% else %}
        <p><code class="list_price">${{ item.price_list }}</code></p>
  {% endif %}
      </td>
      <td>
        <p><img src="/img/made_in_usa.png" alt="USA" height="23" width="22"></p>
      </td>
    </tr>
